/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.d-inline-block {
    display: inline-block;
}

.col-12 {
    width: 100%;
}

.col-11 {
    width: 91.66666667%;
}

.col-10 {
    width: 83.33333333%;
}

.col-9 {
    width: 75%;
}

.col-8 {
    width: 66.66666667%;
}

.col-7 {
    width: 58.33333333%;
}

.col-6 {
    width: 50%;
}

.col-5 {
    width: 41.66666667%;
}

.col-4 {
    width: 33.33333333%;
}

.col-3 {
    width: 25%;
}

.col-2 {
    width: 16.66666667%;
}

.col-1 {
    width: 8.33333333%;
}

.m-1 {
    margin: 0.25rem !important;
}

.p-1 {
    padding: 0.25rem !important;
}

hr.solid {
    border-top: 2px solid #bbb;
}

/* Accordion */
.accordion {
    background-color: #ffffff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #f8f8f8;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

/* Table */
.table-style {
    margin-top: 20px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.table-style td, .table-style th {
    text-align: center;
    padding: 8px;
}

.table-style td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.table-style th {
    color: #ffffff;
    background: #425e7f;
}


.table-style th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.table-style tr:nth-child(even) {
    background: #F8F8F8;
}

/* .table-style Responsive */

@media (max-width: 767px) {
    .table-style {
        display: block;
        width: 100%;
        float: left;
    }

    .table-style, .table-style tbody, .table-style th {
        display: block;
    }

    .table-style th:last-child {
        border-bottom: none;
    }

    .table-style tbody {
        width: auto;
        position: relative;
        overflow-x: auto;
    }

    .table-style td, .table-style th {
        padding: 20px .625em .625em .625em;
        height: 60px;
        vertical-align: middle;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow-y: auto;
        width: 120px;
        font-size: 13px;
        text-overflow: ellipsis;
    }

    .table-style thead th {
        text-align: left;
        border-bottom: 1px solid #f7f7f9;
    }

    .table-style tbody tr {
        display: table-cell;
    }

    .table-style tbody tr:nth-child(odd) {
        background: none;
    }

    .table-style tr:nth-child(even) {
        background: transparent;
    }

    .table-style tr td:nth-child(odd) {
        background: #F8F8F8;
        border-right: 1px solid #E6E4E4;
    }

    .table-style tr td:nth-child(even) {
        border-right: 1px solid #E6E4E4;
    }

    .table-style tbody td {
        display: block;
        text-align: center;
    }
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    margin: 1rem;
    border-radius: 0.6rem;
    background: #fff;
    box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05);
}

.page-numbers {
    width: 1.6rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.4rem;
    font-size: 1rem;
    cursor: pointer;
    height: 1.6rem;
    border-radius: 0.2rem;
}

.page-numbers:hover {
    color: #425e7f;
}

.page-numbers.active {
    color: #fff;
    background: #425e7f;
    font-weight: 600;
    border: 1px solid #425e7f;
}

